html, body {
  height: 10vh;
  background: linear-gradient(-225deg, #D7FFFE 0%, #FFFEFF 100%);
}

.editor {
  border: 2px solid black;
  min-height: 300px;
  padding: 15px;
}
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
