html, body {
  height: 10vh;
  background: linear-gradient(-225deg, #D7FFFE 0%, #FFFEFF 100%);
}

.editor {
  border: 2px solid black;
  min-height: 500px;
  min-width: 80vw;
  max-width: 80vw;
  padding: 15px;
  max-height: 500px;
  overflow: auto;
}
.reader {
  border: 2px solid black;
  min-height: 500px;
  margin-left: 200px;
  margin-top: 100px;
  max-width: 400px;
  max-height: 500px;
  width: 25%;
  background-color: white;
  overflow: auto

}
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.vButton {
  height: 400px;
  margin-bottom: 15px;
}

.Versions {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  max-width: 70%;
  margin-top: 100px;
  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
}

.doc-card{
  border: 1px solid grey;
}

.doc-card:hover {
  border-color: blue;
  cursor: pointer;
}

.addDoc:hover {
  cursor: pointer;
}

.navbar {
  width: 100%
}

.docNameInput {
  width: 100%
}

.ModalTitle {
  text-align: center;
  margin-bottom: 15px
}

.modalButtons {
  float: right;
}

.createDoc {
  display: inline-block
}

.emailInput {
  margin-bottom: 20px
}

.shareHeader {
  text-decoration: underline
}
.Collabs {
  list-style-type: none;
  margin-left: -40px
}

.differences {
  margin-top: 20px;
  text-align: center;
}

.changer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-height: 100px;
  overflow: auto;
  margin-bottom: 5px;
}

.revertButton {
  margin-top: 50px;
  margin:auto
}

.entireDoc {
  text-align: center;
  margin-bottom: 50px
}
